<style type="text/css">

                      body:after {
                          content:"";
                          background-image: url("<?php echo Yii::app()->request->baseUrl; ?>/assets/images/flags/<?php
                          echo Yii::app()->params['countryCode']; ?>.png");
                          background-size: 100% 100%;
                          background-repeat: no-repeat;
                          opacity: 0.1;
                          width: 100%; height: 100%;
                          position: fixed;
                          top: 0; bottom: 0; left: 0; right: 0;
                          z-index:-1;
                      }

</style>
